<!DOCTYPE html>
<html lang="de">
{% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Social-Media-Projekt </title>
        <link rel="icon" 
            type="image/x-icon" 
            href="{% static 'teemLogo.png' %}";>
        <link rel="stylesheet" href="{% static 'design.css' %}">
    </head>

    <body>
        <p style="color:white";> ® All rights reserved by LILA productions</p>
        <header> 
            <img src="{% static 'teemLogo.png' %}";
                height="150px"; width="300px;">
        </header>
        

        <article>
           <div class="blackbox">
            <h1> Danke {{ nutzer.nutzername }}!</h1>
            <p> Dein Konto ist jetzt bestätigt. </p>
            <p>Deine E-Mail wurde bestätigt. Du kannst dich jetzt einloggen.</p>
            <a href="{% url 'login' %}">
                <button type="button">Login</button>
            </a>
           </div>
        </article>

        
    </body>

</html>