<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="zeitbuchungssystem.css">
        <title>Zeitbuchungssystem</title>
    </head>

    <body>
        <header><img src="logo.png" alt="Logo" height="40px" width="40px"> Zeitbuchungssystem</header>
        <div style="height: 15px; background-color: lightgray;"></div>

        <table>
          <tr>
            <td>
                <img src="profil_platzhaltergrafik.png" alt="Profil" height="130px" width=auto>
            </td>
            <td style="vertical-align: top; padding-left: 8px;">
                <p>
                    Name: Lucy Cai<br> <!--!!!muss das hier dynamisch später machen, Daten iwo herbekommen!!!-->
                    Matrikel-Nr.: 996388<br>
                    Kurs: DVM24
                </p>
            </td>
          </tr>
        </table>
        <br>

        <h4>Meine Arbeitsberichte</h4>

        <form method="post">
            {% csrf_token %}
            <label for="modul">Modul:</label>
            <input type="text" id="modul" name="modul" required>

            <label for="datum">Datum:</label>
            <input type="text" id="datum" name="datum" required>

            <label for="min">Arbeitszeit (Minuten):</label>
            <input type="number" id="min" name="min" required>

            <label for="inhalt">Bericht:</label>
            <textarea id="inhalt" name="inhalt" required></textarea>

            <button type="submit">Absenden</button>
        </form>

        {% for bericht in arbeitsberichte %}
            <div class="bericht-block">
                <p class="bericht-text">
                    <strong>{{ bericht.modul }}</strong>
                    <span>{{ bericht.min }} min - {{ bericht.datum }}
                    </span>
                    {{ bericht.inhalt }}
                </p>
            </div>
        {% empty %}
            <p>Noch keine Einträge.</p>
        {% endfor %}

    </body>
</html>