{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'meine_app/zeitbuchungssystem.css' %}">
        <title>Zeitbuchungssystem</title>
    </head>

    <body>
        <header class="header-bar">
            <div class="header-left">
                <img src="logo.png" alt="Logo" height="40px" width="40px">
                    Zeitbuchungssystem
            </div>

            <div class="header-right">
                {% if request.session.user_email %}
                    <a href="{% url 'logout' %}" class="logout-button">Logout</a>
                {% endif %}
            </div>
        </header>
        <div style="height: 15px; background-color: lightgray;"></div>

        <table>
          <tr>
            <td>
                <img src="profil_platzhaltergrafik.png" alt="Profil" height="130px" width=auto>
            </td>
            <td style="vertical-align: top; padding-left: 8px;">
                <p>
                    Name: Vorname Nachname<br> <!--!!!muss das hier dynamisch später machen, Daten iwo herbekommen!!!-->
                    Matrikel-Nr.: 123456<br>
                    Kurs: ABC24
                </p>
            </td>
          </tr>
        </table>
        <br>

        <h4>Meine Arbeitszeit pro Modul</h4>

        <form method="post">
            {% csrf_token %}
            <label for="modul">Modul:</label>
            <input type="text" id="modul" name="modul" required>

            <label for="datum">Datum:</label>
            <input type="text" id="datum" name="datum" required>

            <label for="minuten">Arbeitszeit (min):</label>
            <input type="number" id="minuten" name="minuten" required>

            <label for="inhalt">Bericht:</label>
            <textarea id="inhalt" name="inhalt" required></textarea>

            <button type="submit">Absenden</button>
        </form>

        <table class="berichte">
            <tr>
                <th>Modul</th>
                <th>Datum</th>
                <th>Arbeitszeit (min)</th>
                <th>% von gesamter Abeitszeit</th>
                <th>Bericht</th>
            </tr>
            
        {% for bericht in arbeitsberichte %}
        <tr>
            <td>{{ bericht.modul }}</td>
            <td>{{ bericht.datum }}</td>
            <td style="text-align: right;">{{ bericht.minuten }} min</td>
            <td style="text-align: right;">{{ bericht.prozent}} %</td>
            <td>{{ bericht.inhalt }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Noch keine Einträge.</td>
        </tr>
        {% endfor %}
        </table>

    </body>
</html>