{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'meine_app/zeitbuchungssystem.css' %}">
    </head>

    <body>
        <h2>VIP beantragen</h2>
        <p>Möchtest du wirklich VIP werden?</p>

        <form action="{% url 'request_vip' %}?user_id={{ user_id }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <button type="submit">Ja, beantragen</button>
        </form>

        <a href="{% url 'arbeitsberichte' %}?user_id={{ user_id }}">Nein, zurück</a>
    </body>
</html>