{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'meine_app/zeitbuchungssystem.css' %}">
        <title>Modul-Zeitübersicht</title>
    </head>

    <body>
        <header><img src="logo.png" alt="logo" height="40px" width="40px"> Zeitbuchungssystem</header>
        <div style="height: 15px; background-color: lightgray;"></div>
    
        <h2>Modul-Zeitübersicht</h2>
        <center>
        <table class="modul-zeitübersicht" style="width: 85%;">
            <tr>
                <th>Modul</th>
                <th>Zeit</th>
                <th>von gesamter Arbeitszeit in %</th>
            </tr>
                {% for eintrag in daten %}
            <tr>
                <td>{{ eintrag.modul }}</td>
                <td>{{ eintrag.minuten }}</td>
                <td>{{ eintrag.prozent }}</td>
            </tr>
            {% endfor %}
        </table>
        </center>
    
    </body>

</html>