{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'meine_app/zeitbuchungssystem.css' %}">
    </head>

    <body>
        <h2>Login</h2>

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label>E-Mail:</label>
            <input type="email" name="email" required>

            <label>Passwort:</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </body>
</html>