{% extends "meine_app/base.html" %}

{% block title %}{{ block.super }} - Registrieren{% endblock %}

{% block toggle_login %}{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label>Benutzername: </label><br>
    <input type="text" name="benutzername" required><br><br>

    <label>Email: </label><br>
    <input type="email" name="email" required><br><br>

    <label>Passwort: </label><br>
    <input type="password" name="password" required><br><br>

    <button type="submit">Registrieren</button>
</form>

{% endblock %}