<!DOCTYPE html>
<html lang="de">
{% load static %}
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title> Social-Media-Projekt </title>
        <link rel="icon" 
            type="image/x-icon" 
            href="{% static 'teemLogo.png' %}";>
        <link rel="stylesheet" href="{% static 'design.css' %}">

        <style>
      #id_address, #id_title, #id_description, #id_date {
          height: 16px;
      }
  </style>

  </style>
<!-- map -->
<script src='https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css' rel='stylesheet' />
<!-- map -->
    </head>
    <body>
        <p style="color:white";> ® All rights reserved by LILA productions</p>
        <header> 
            <img src="{% static 'teemLogo.png' %}";
                height="150px"; width="300px;">
        </header>
        <nav class="navbar">
            <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'my_account' %}">My Account</a></li>
            <li><a href="{% url 'my_events' %}">Neue Events</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>

        <article>
<div class="blackbox">
<h1> Ankündigungen & Livechat </h1>
<p> Hier kannst Du Ankündigungen im Livechat posten. Alle User können sehen, was du postest und darauf reagieren :)</p>
<!-- KOMMENTARE ANFANG-->
<div class="Kommentare">
        <h4>Livechat</h4>

    <!--Scrollbarer Bereich für Kommentare-->
    <div class="alle_kommentare"> <!--alle einzelnen Kommentare-->
    {% for kommentar in kommentare %} <!--for Schleife: kommentare in Liste 'kommentare' anzeigen-->
    <div class="einzelkommentar">
        <p class="kommentartext"> <!--Form - so sollen Kommentare angezeigt werden-->
            <strong>{{ kommentar.name }}</strong>
            <span style="color: gray;">{{ kommentar.zeit }}</span><br>
            {{ kommentar.text }}
        </p>

        <form method="post" class="like-form">
        {% csrf_token %}
        <button type="submit" name="like" value="{{ forloop.counter0 }}" class="like-button">
            {% if request.user.username in kommentar.geliket_von %}
                <img src="{% static 'images/like_filled.PNG' %}" alt="Like zurücknehmen" width="15px" height="15px" class="like-icon">
            {% else %}
                <img src="{% static 'images/like_unfilled.PNG' %}" alt="Liken" width="15px" height="15px" class="like-icon">
            {% endif %}
            <span class="like-counter">
            ({{ kommentar.geliket_von|length }})
            </span>
        </button>
        </form>
    </div>
    {% empty %} <!--Wenn Liste leer-->
        <p>Noch keine Kommentare.</p>
    {% endfor %} <!--Schleifenende-->
    </div>

    <!--Fehlermeldung, wenn nicht eingeloggt-->
    {% if fehler %}
        <div class="fehler-meldung">
            {{ fehler }}
        </div>
    {% endif %}

    <!--Kommentar hinzufügen-->
    <form method="post" class="kommentar-eingabe">
    {% csrf_token %}
    <textarea id="text" name="text" placeholder="Ankündigung veröffentlichen" required></textarea>
    <button type="submit">Absenden</button>
    </form>
</div>
<!-- KOMMENTARE ENDE-->
 </div>
        </article>
<a href="{% url 'my_events' %}" class="floating-add-button">
  <span>+</span>
</a>
    </body>
</html>



