<!DOCTYPE html>
<html lang="de">
{% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Social-Media-Projekt </title>
        <link rel="icon" 
            type="image/x-icon" 
            href="{% static 'teemLogo.png' %}";>
        <link rel="stylesheet" href="{% static 'design.css' %}">
    </head>

    <body>
        <p style="color:white";> ® All rights reserved by LILA productions</p>
        <header> 
            <img src="{% static 'teemLogo.png' %}";
                height="150px"; width="300px;">
        </header>
        

        <article>
        <div class="blackbox">

            <h1>Dein Konto wurde erstellt!</h1>
            <p>Der Bestätigungslink wurde an deine E-Mail versendet. Bitte sieh in deinem Postfach nach und klicke auf den Link, um dich einloggen zu können.</p>

        </div>
        </article>

        
    </body>

</html>