<!DOCTYPE html>
<html lang="de">
{% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Social-Media-Projekt </title>
        <link rel="icon" 
            type="image/x-icon" 
            href="{% static 'teemLogo.png' %}";>
        <link rel="stylesheet" href="{% static 'design.css' %}">
    </head>

    <body>
        <p style="color:white";> ® All rights reserved by LILA productions</p>
        <header> 
            <img src="{% static 'teemLogo.png' %}";
                height="150px"; width="300px;">
        </header>
        <nav class="navbar">
            <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'my_account' %}">My Account</a></li>
            <li><a href="{% url 'my_events' %}">Neue Events</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>

        <article>
        <div class="blackbox">

            <h2>Willkommen, {{ nutzername }}!</h2>
            <p>Du bist eingeloggt.</p>
            
  
    <a href="{% url 'logout' %}"><button type="submit">Logout</button></a>


            </div>
        </article>
<a href="{% url 'my_events' %}" class="floating-add-button">
  <span>+</span>
</a>    
    </body>

</html>